<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Visualpath Products</title>



</head>

<body>
<h1><img src="images/visualpath.png"/> &nbsp; E-Commerce</h1>

<h3>
<ul></ul>
</h3>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
jQuery.noConflict()(function ($) { 
$(document).ready(function(){
	 
	
	
   $.getJSON("http://localhost:9091/products",function(data){
	   
	   $.each(data, function(){
		  	         $("ul").append("<li>Id: "+this['id']+"</li><li>Name: "+this['name']+"</li> <li>Price :$"+this['price']+
	        		 "</li><button onclick=\"cart()\">addTocart</button><br/>");
	   });
});
});
});
function cart(){
	console.log("I am in cart");
	page.
}
</script>

</body>
</html>