<!DOCTYPE html>
<html>
<head>
      <meta charset = "ISO-8859-1" />
      <link href = "css/styles.css" rel = "stylesheet"/>
      <title>Visualpath Application</title>
</head>
<body>
<div align="right">
 <a th:href="@{/logout}">Sign Out</a>
 </div>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<h1>Welcome to <img src="images/visualpath.png"/> &nbsp; E-Commerce </h1>
<div class="container" style="align-items: center">

<a class="button" href="/user-accounts">
<div class="homeElement"><h3>Access User Accounts</h3></div>
</a>
<a class="button" href="/catalog">
<div class="homeElement"><h3>Browse Catalog</h3></div>
</a>
<a class="button" href="/showCart">
<div class="homeElement"><h3>Show Cart</h3></div>
</a>
</div>
</body>
</html>